@model UserManagerCore.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>

@(Html.Kendo().Form<UserManagerCore.ViewModels.EditUserViewModel>()
    .Name("editForm")
    .HtmlAttributes(new { action = "Edit", method = "post" })
    .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
    .Items(items =>
    {
        items.AddGroup().Items(i =>
        {   
            i.Add()
                .Field(f => f.Username)
                .Label(l => l.Text("Username:"));
            i.Add()
                .Field(f => f.LastName)
                .Label(l => l.Text("Last Name:"));

            i.Add()
                .Field(f => f.FirstName)
                .Label(l => l.Text("First Name:"));

            i.Add().Field(f => f.DateOfBirth)
                .Editor(e =>
                {
                    e.DatePicker();
                    e.MaskedTextBox().Mask("00/00/0000"); 
                })
                .Label(l => l.Text("Date of Birth"));

            i.Add()
                .Field(f => f.PlaceOfBirth)
                .Editor(e => e.DropDownList()
                    .BindTo(Model.PlacesOfBirth)
                    .Value(Model.PlaceOfBirth))
                .Label(l => l.Text("Place of Birth:"));

            i.Add()
                .Field(f => f.PlaceOfResidence)
                .Editor(e => e.DropDownList()
                    .BindTo(Model.PlacesOfResidence)
                    .Value(Model.PlaceOfResidence)) 
                .Label(l => l.Text("Place of Residence:"));

            i.Add().Field(f => f.ID)
                .Editor(e => e.Hidden());
        });
    })
)