@using UserManagerCore.Models
@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
}
<div class="form-group">
    <input class="form-control grid-search mb-2" type="search" name="name" value="" placeholder="Search for user..." />
</div>
@(Html.Kendo().Grid<User>()
      .Name("usersGrid")
      .Columns(columns =>
      {
          columns.Bound(u => u.ID).Title("ID").Width(50);
          columns.Bound(u => u.Username).Title("Username");
          columns.Bound(u => u.LastName).Title("Last Name");
          columns.Bound(u => u.FirstName).Title("First Name");
          columns.Bound(u => u.DateOfBirth).Title("Date of Birth").Format("{0:yyyy-MM-dd}");
          columns.Bound(u => u.PlaceOfBirth).Title("Place of Birth");
          columns.Bound(u => u.PlaceOfResidence).Title("Place of Residence");
      })
      .Pageable() 
      .Sortable()  
      .Filterable() 
      .Scrollable()
      .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))  // Enable single row selection
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(10)
          .Read(read => read.Action("Users_Read", "Users"))
      )
)
<div class="form-group mt-2 text-end">
    <button id="saveToXmlBtn" class="btn btn-primary mb-2">Save to XML</button>
</div>

@section Scripts {
    <script type="text/javascript" src="./js/site.js"></script>
}
